::-webkit-scrollbar{
    // background:#fff;
    width:8px;
    border-radius:20em;
}
::-webkit-scrollbar-thumb{
    background:#052571;
    border-radius: 20em;;
}
.Page{
    
    
    // background: red;
    box-shadow: 1px 1px  8px 6px rgba(0,0,0,.2);
    width:90%;
    height:90vh;
    display:flex;
    border-radius: 10px;
    overflow: auto;
    

    .header{
        background:#052571;
        border-radius:10px 0px 0px 10px;
        padding:2px;
        width:17%;
        position:fixed;
        height:90vh;
        .navbar{
            // background:yellow;
            height:100%;
            display: flex;
            align-items: center;
            .menu__list{
                // background:green;
                height:80%;
                .nav-link{
                    color:#eee;

                    &:hover::after{
                        width:110px;
                        height:2px;
                        background: #eee;

                    }
                    &:active{
                        color:red
                    }
                }

                .nav-link::after{
                    content: '';
                    display: block;
                    width:0px;
                    height:2px;
                    background: #eee;
                    transition: all 1.1s;
                }
            }
            .menu__list > li{
                margin-top: 30px;
                list-style: none;
                .btn-add{
                    background:none;
                    color:#eee;
                    border:none;
                    outline:none;
                    &:active{
                        color:green;
                    }

                }
            }
            
        }
        .user{
            // background:red;
            margin-top:12px;
            font-size:13px;
            display: flex;
            align-items: center;
            color:#eee;
            // text-decoration: underline;
            padding-left:5px;
            padding-left:30px;

        }
        
    }
    .signout{
        //  background:red;
         height:35px;
         margin-left:-70px;
         margin-top:-35px;
         position: fixed;
         button{
             border:none;
             background: none;
             font-size:15px;
             text-decoration: underline;
         } 
    }

}