@use 'Variables.scss';

@mixin formContainer($Width, $Height, $Padding){
    width:$Width;
    height: $Height;
    padding:$Padding
}
.login-container{
    // background:red;
   @include formContainer(90%, 85vh, 5px );
   display:flex;
   justify-content:center;
   flex-wrap:wrap;
   .img{
       width:Variables.$Width;
       height:Variables.$Height;
       margin-top:-80px;
       img{
           width:100%;
           height:100%;
           object-fit:90%;
          
       }
   }
   .form-container{
       width:Variables.$Width;
       height:Variables.$Height;
       h1{
           color:#052571;
           font-weight: 650;
       }
       form div > input{
           border-radius:Variables.$BorderRadius;
           line-height: Variables.$LineHeight;
           padding-left:Variables.$PaddingLeft;
           background:#eee;
           border:none;
           
       }
       #basic-addon1{
           
        background: #eee;
        border-radius:20em 0 0 20em;
        padding:0 20px 0 30px;
        border:none;
        
        .bxs-envelope, .bxs-lock-alt{
            font-size: 20px;
            opacity:.3;
        }
       }
       form div > input::placeholder{
           font-weight: 500;
           font-size: 17px;
       }
       form div > input:focus{
        border:none;
        box-shadow: none;
        color:#000
        
        }
        
        
       .btn-success{
            background:#052571;
            border-radius:Variables.$BorderRadius;
            line-height: Variables.$LineHeight;
            width:100%;
            font-size:20px;
            font-weight: 600;
            
       }
   }

}



// media queries

    @media screen and (min-width:820px){

        .login-container{
            display: flex;
            flex-direction:row;
            align-items: center;
            // background:red;
            height:60%;
            border-radius: 30px;
        .img{
            width:47%;
            height:60%;
            margin-right:2px;
        }
       
        .form-container{
            width:50%;
            padding-left:10px;
            display:flex;
            flex-direction: column;
            height:60%;
            form{
                height:85%;
                
                .btn-success{
                    line-height: 2;
                }
                .btn-success:active{
                    background:rgb(5, 37, 113, .6)
                }
            }
        }
    }
        
    }


    @media screen and (min-width:1024px){
        body{
            background:#fff;
        }
        html{
            background: #fff;
        }
        .login-container{
            height:90%;
        }
    }


    @media screen and (min-width:1026px){
        
        .login-container{
            height:90%;
            max-width:90%;
        }


        .img{
            // background:red;
            width:47%;
            height:60%;
            margin-right:2px;
            
        }
        .form-container{
            width:50%;
            padding-left:10px;
            display:flex;
            flex-direction: column;
            height:60%;
            padding:30px 60px;
            form{
                height:85%;
                
                .btn-success{
                    line-height: 2;
                }
                .btn-success:active{
                    background:rgb(5, 37, 113, .6)
                }
            }
        }
    }





    @media screen and (min-width:375px) and (max-width:375px){
    
        body{
            overflow: hidden;
        }
        .login-container{
            margin-top:-75px;
            .img{
                height:30%;
            }
        }
    }

