@use 'Variables';
@mixin FormContainer($Width, $Height, $Padding){
    width:$Width;
    height:$Height;
    padding:$Padding;
}
    .img-container{
        width:Variables.$Width;
        height:Variables.$Height;
    }
    .img-container > img{
        width:100%;
        height:100%;
        object-fit: cover;
    }
    .form-contianer{
    @include FormContainer(95%,90vh, 15px );
    display:flex;
    justify-content:center;
    flex-wrap:wrap;

    .title-container > h2{
        
        color:#052571;
        font-weight: 650;
    }
    .form-container-signup{
        width:95%;
        height:55%;
    }
    form{
        padding:10px;
        padding-top:5px;
        
        
        input{
            border-radius:Variables.$BorderRadius;
            line-height: Variables.$LineHeight;
            padding-left:15%;
            background:#eee;
            border:none;
        }
        .btn-primary{
            background:#052571;
            border-radius:Variables.$BorderRadius;
            line-height: Variables.$LineHeight;
            width:100%;
            font-size:20px;
            font-weight: 600;
        }
        
    }
    
}



@media screen and (min-width:820px){
    .form-contianer{
        display:flex;
        justify-content: center;
        align-items:center;
        height:50%;
        border-radius:20px;


        .img-container{
            width:60%;
            height:80%;
        }

        .form-container-signup{
            width:40%;
            height:80%;
            padding-top:60px;
        }

        .form-container-signup > form{

            input{
                line-height: 2;
            }
        }
        .btn-primary{

            padding: 0;
        }
    }
   

    

    
}





@media screen and (min-width:1020px){
    .form-contianer{
        display:flex;
        justify-content: center;
        align-items:center;
        height:80%;
        border-radius:20px;


        .img-container{
            width:50%;
            height:80%;
            margin-right:30px
        }

        .form-container-signup{
            width:40%;
            height:80%;
            padding-top:30px;
        }

        .form-container-signup > form{

            input{
                line-height: 2;
            }
        }
        .btn-primary{

            padding: 0;
        }
    }
}

    
@media screen and (min-width:375px) and (max-width:375px){
    
    body{
        overflow: hidden;
    }
    .form-contianer{
        margin-top:-25px;
        .img-container{
            height:30%;
        }
    }
}
    