.SobreNosotro{
    padding:70px 10px 30px 10px;
    // background:red;
    width: 80%;
    margin-left:20px;
    .contenedore_nosotros{
        // background:brown;
        display: flex;
        align-items: center;
        .sobrenosotros-content{
            // background: green;
            width:95%;
        }
        .card{
            width:300px;
        }
    }
}